body {
  font-family: 'Roboto Mono', monospace;
  background-color: lightgray;
  line-height: 1.6;
}
.pokemon-button {
  background-color: red;
  color: white;
  width: 150px;
  padding: 10px 0;
  margin-top: 5px;
  border-radius: 7px;
  font-size: 20px;
}


ul {
  list-style-type: none;
}
