body {
  font-family: 'Roboto Mono', monospace;
  background-color: lightgray;
  line-height: 1.6;
}
.pokemon-button {
  background-color: red;
  color: white;
  width: 150px;
  padding: 10px 0;
  margin-top: 5px;
  border-radius: 7px;
  font-size: 20px;
}

.pokemon-list {
  padding: 0;
  list-style-type: none;
}

@media all and (max-width: 500px) {
  body {
    background-color: white;
    display: flex;
    justify-content: center;
  }

  .pokemon-button {
    color: black;
    background-color: lightblue;
    width: 300px;
  }
}
